:root {
  --call-button-dm: #102436;
  --call-button-lm: f4f4f4;
  --button-text-dm: #fff;
  --button-text-lm: #black;
  --button-bg-dm: #2D465E80;
  --button-bg-lm: #fff;
}

.buttonleft__menu {
  display: flex;
  flex-direction: column;
  padding-right: 45px;
  padding-left: 45px;
  height: 360px;
}

.compose__button__menu {
  width: 100%;
  height: 60px;
  background: linear-gradient(91.24deg, #1DE99B 0.26%, #0063FB 99.58%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-family: 'Gilory';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.compose__vector__menu {
  height: 23.3px;
  width: 21px;
  padding-right: 13.5px;
}

.inbox__button__menu {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  font-family: 'Gilory';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--button-text);
  text-decoration: none;
  margin-top: 30px;
}

.inbox__vector__menu {
  padding-left: 7%;
  padding-right: 6%;
}

.button__badge__menu {
  width: 40px;
  height: 25px;
  border-radius: 40px;
  background-color: #00cb7d;
  color: #fff;
  font-family: 'Gilory';
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
}

.group__call__button__menu {
  width: 100%;
  height: 60px;
  background: var(--call-button);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  font-family: 'Gilory';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--button-text);
  text-decoration: none;
  margin-top: 10px;
}

.group__call__vector__menu {
  padding-left: 7%;
  padding-right: 6%;
}

.logo__vector__menu {
  width: 28px;
  height: 28px;
  padding-left: 7%;
  padding-right: 6%;
}

.buttonleft__menu .active{
  background: var(--button-bg);
}

.inbox__button__menu:focus {
  width: 100%;
  height: 60px;
  background: var(--button-bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  font-family: 'Gilory';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  margin-top: 30px;
}

.group__call__button__menu:focus {
  width: 100%;
  height: 60px;
  background: var(--button-bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  font-family: 'Gilory';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  margin-top: 10px;
}


@media (max-width: 460px) {
  .buttonleft__menu {
    padding-right: 0px;
    padding-left: 0px;
  }

  .compose__button__menu {
    border-radius: 0px;
  }

  .inbox__button__menu {
    border-radius: 0px;
  }

  .group__call__button__menu {
    border-radius: 0px;
  }
}

@media (max-width: 360px) {
  .button__badge__menu {
    margin-left: 30px;
  }
}