:root {
  --call-title-lm: linear-gradient(180deg, #102437 0%, #13171B 100%);
  --call-title-dm: #ffffff;
  --call-scroll-lm: #f4f4f4;
  --call-scroll-dm: #00000033;
}

.call {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.call__title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.call__title__left {
  font-family: 'Roboto-medium';
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  background: var(--call-title);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.call__title__right {
  width: 4.67px;
  height: 21px;
}

.call__data {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
}


.call__data::-webkit-scrollbar-track
{
	background-color: var(--call-scroll);
}

.call__data::-webkit-scrollbar
{
	width: 6px;
	background-color: var(--call-scroll);
}

.call__data::-webkit-scrollbar-thumb
{
	background-color: #82828242;
}


@media (max-width: 1650px) {
  .call__data {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
  }
}

@media (max-width: 540px) {
  .call__title__left {
    font-size: 20px;
    line-height: 25px;
  }

  .call__title__right {
    width: 2.67px;
    height: 16px;
  }
}