:root {
  --compose-text-lm: linear-gradient(180deg, #102437 0%, #13171B 100%);
  --compose-text-dm: #ffffff;
  --compose-bg-lm: #ffffff;
  --compose-bg-dm: #2D465E80;
  --compose-input-color-lm: linear-gradient(180deg, #102437 0%, #13171B 100%);
  --compose-input-color-dm: #ffffff;
}

.compose {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.compose__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.compose__title__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.backimg__setting {
  width: 21.33px;
  height: 21.33px;
  margin-right: 20.33px;
}

.compose__left__text {
  font-family: 'Roboto-medium';
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  background: var(--compose-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.compose__title__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.recycleimg__setting {
  width: 23.33px;
  height: 23.33px;
}

.threeimg__setting {
  width: 4.67px;
  height: 21px;
  margin-left: 34px;
  margin-right: 35px;
}

.compose__sendto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.compose__sendto__text {
  font-family: 'Roboto-medium';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  background: var(--compose-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.compose__sendto__input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: 98%;
  height: 50px;
  background: var(--compose-bg);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  background-image: url('../assets/images/contact.png');
  background-position: 13px 13px;
  background-size: 18px 20px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 45px;
  font-family: 'Gilory';
  color: var(--compose-input-color);
}

.compose__sendto__input:focus {
  outline: none;
}

.compose__sendto__search {
  width: 100%;
}

.compose__sendto__select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid #82828242;
}

.compose__sendto__one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  width: 132px;
  height: 45px;
  background: #00CB7D;
  border-radius: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 10px;
}

.compose__one__text {
  font-family: 'Gilory';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.divideimg__setting {
  width: 13.26px;
  height: 13.26px;
  margin-left: 10.87px;
}

.compose__sendto__sentence {
  margin-top: 10px;
  border: none;
  width: 100%;
  height: 400px;
  font-size: 16px;
  background: var(--compose-bg);
  font-family: 'Gilory';
  color: var(--compose-input-color);
}

.compose__sendto__sentence:focus {
  outline: none;
}

.compose__bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.compose__bottom__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
  background: linear-gradient(91.24deg, #1DE99B 0.26%, #0063FB 99.58%);
  border-radius: 15px;
  font-family: 'Gilory';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 20px;
  margin-right: 43.25px;
  cursor: pointer;
}

.compose__botton__attachfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.plusimgs__setting {
  width: 17.5px;
  height: 17.5px;
  margin-right: 25px;
  cursor: pointer;
}

.attachimg__setting {
  width: 22.01px;
  height: 23.76px;
  margin-right: 25px;
  cursor: pointer;
}

.galleryimg__setting {
  width: 22px;
  height: 22px;
  margin-right: 25px;
  cursor: pointer;
}

.smileimg__settings {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

@media (max-width: 1162px) {
  .backimg__setting {
    width: 18px;
    height: 18px;
    margin-right: 20.33px;
  }

  .compose__left__text {
    font-size: 22px;
  }

  .compose__sendto__one {
    width: 80px;
    height: 38px;
  }

  .compose__one__text {
    font-size: 15px;
  }

  .divideimg__setting {
    width: 11px;
    height: 11px;
    margin-left: 9px;
    transition: all 0.3s ease-in-out;
  }

}

@media (max-width: 420px) {
  .backimg__setting {
    width: 15px;
    height: 15px;
    margin-right: 15.33px;
  }

  .compose__left__text {
    font-size: 18px;
  }

  .recycleimg__setting {
    width: 16.33px;
    height: 16.33px;
  }

  .threeimg__setting {
    width: 3.67px;
    height: 17px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .compose__sendto__text {
    font-size: 14px;
    line-height: 15px;
  }

  .compose__sendto__one {
    width: 60px;
    height: 30px;
    padding: 0px 10px;
    border-radius: 15px;
  }

  .compose__one__text {
    font-size: 12px;
  }

  .divideimg__setting {
    width: 9px;
    height: 9px;
    margin-left: 6px;
  }

  .compose__bottom__button {
    margin-bottom: 10px;
    width: 120px;
    height: 45px;
    border-radius: 9px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
  }

  .compose__botton__attachfile {
    margin-top: 0px;
  }
}

@media (max-width: 360px) {
  .compose__sendto__sentence {
    height: 380px;
  }

  .compose__bottom__button {
    margin-right: 25px;
  }

  .plusimgs__setting {
    margin-right: 15px;
  }

  .attachimg__setting {
    margin-right: 15px;
  }

  .galleryimg__setting {
    margin-right: 15px;
  }
}