:root {
  --group-title-text-lm: linear-gradient(180deg, #102437 0%, #13171B 100%);
  --group-title-text-dm: #ffffff;
  --group-scroll-bg-lm: #f4f4f4;
  --group-scroll-bg-dm: #00000033;
}

.group {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.group__title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.group__title__left {
  font-family: 'Roboto-medium';
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  background: var(--group-title-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.group__title__right {
  width: 4.67px;
  height: 21px;
}

.group__data {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  height: 100%;
}


.group__data::-webkit-scrollbar-track
{
	background-color: var(--group-scroll-bg);
}

.group__data::-webkit-scrollbar
{
	width: 6px;
	background-color: var(--group-scroll-bg);
}

.group__data::-webkit-scrollbar-thumb
{
	background-color: #82828242;
}


@media (max-width: 1650px) {
  .group__data {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
  }
} 

@media (max-width: 540px) {
  .group__title__left {
    font-size: 20px;
    line-height: 25px;
  }

  .group__title__right {
    width: 2.67px;
    height: 16px;
  }
}