:root {
  --bg-main-lm: #F2F6FD;
  --bg-main-dm: #102436;
  --main-search-lm : #ffffff;
  --main-search-dm: #2D465E;
  --main-text-lm: linear-gradient(180deg, #102437 0%, #13171B 100%);
  --main-text-dm: #ffffff;
  --main-status-text-lm: linear-gradient(180deg, #102437 0%, #13171B 100%);
  --main-status-text-dm: #ffffff;
  --detail-main-bg-lm: #ffffff;
  --detail-main-bg-dm: #1A2E4080; 
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin: auto;
  position: relative;
}

.shinning__position {
  position: absolute;
  top: 100px;
  right: 50px;
  z-index: 200;
}

.main__left__container {
  width: 360px;
  display: flex;
  background-color: var(--bg-main);
  flex-direction: column;
}

.main__right__container {
  width: calc(100% - 360px);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right__container__top {
  height: 12%;
  width: 100%;
  background-color: var(--bg-main);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.container__top__search {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  gap: 15px;
  width: 100%;
  height: 60px;
  background: var(--main-search);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.search__input {
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--main-search);
  background-image: url('../assets/images/search.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  border: none;
  color: var(--main-status-text);
}

.search__input:focus {
  outline: none;
}

.container__top__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
}

.container__top__active {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 15px;
  gap: 10px;
  width: 140px;
  height: 45px;
  background: var(--main-search);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.top__active__text { 
  width: 52px;
  height: 21px;
  font-family: 'Gilory';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  background: var(--main-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.top__button {
  padding-left: 30px;
  cursor: pointer;
}

.container__top__status {
  display: flex;
  flex-direction: column;
  padding-left: 43.5px;
}

.top__status__address {   
  width: 86px;
  height: 24px;
  font-family: 'Gilory';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  background: var(--main-status-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px;
}

.top__status__state {
  width: 53px;
  height: 14px;
}

.top__status__state__img {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.container__top__profile {
  width: 40px;
  height: 40px;
  border-radius: 300px;
  margin: 10px;
  margin-right: 30px;
  position: relative;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
}

.modal-back{
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
}

.modal__contain__text:hover{
  cursor: pointer;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.right__title__modal__main {
  right: 80px;
  top: 75px;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  gap: 10px;
  position: absolute;
  width: 150px;
  height: 210px;
  background: var(--modal-bg);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  z-index: 500;
}

.right__container__detail {
  display: flex;
  flex-direction: row;
  height: 88%;
  width: 100%;
  background-color: var(--bg-main);
}


.container__detail__main {
  height: 100%;
  width: 98%;
  border-radius: 20px 20px 0px 0px ;
  background-color: var(--detail-main-bg);
  display: flex;
  overflow: auto;
}

.container__detail__main::-webkit-scrollbar-track
{
	background-color: var(--dialog-main-bg);
}

.container__detail__main::-webkit-scrollbar
{
	width: 6px;
	background-color: var(--dialog-main-bg);
}

.container__detail__main::-webkit-scrollbar-thumb
{
	background-color: #82828242;
}


.container__detail__rest {
  height: 100%;
  width: 30px;
  background-color: var(--bg-main);
}

.left__container__logo {
  height: 12%;
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  align-items: center;
  justify-content: flex-start;
}

.container__logo__set {
  width: 36px;
  height: 36px;
  padding-right: 15px;
}

.container__logo__text {
  width: 112px;
  height: 48px; 
  display: flex;
  align-items: center;
  font-family: 'Inter';
  font-weight: 100;
  font-size: 40px;
  line-height: 48px;
  background: linear-gradient(91.24deg, #1DE99B 0.26%, #0063FB 99.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


.left__container__buttons {
  padding-left: 40px;
}

.detail__main_one {
  margin: 30px;
  max-height: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 30px;
  width: 100%;
  /* TODO */
}

.left__container__buttons__menu {
  width: 100%;
  display: none;
}

.sidedrawer {
  display: none;
}

@media (max-width: 1162px) {
  .container__logo__text {
    display: none;
    transition: all 0.3s ease-in-out;
  }

  .main__left__container {
    width: 60px;
    transition: all 0.3s ease-in-out;
  }

  .main__right__container {
    width: 95%;
    transition: all 0.3s ease-in-out;
  }

  .left__container__logo {
    padding-left: 10px;
    transition: all 0.3s ease-in-out;
  }

  .left__container__buttons {
    padding-left: 10px;
    transition: all 0.3s ease-in-out;
  }
}


@media (max-width: 850px) {
  .search__input {
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
  }

  .container__top__active {
    padding: 0px 15px;
    gap: 10px;
    width: 70px;
    height: 40px;
    background: var(--main-search);
    transition: all 0.3s ease-in-out;
  }

  .top__active__text {
    display: none;
    transition: all 0.3s ease-in-out;
  }

  .top__button {
    padding-left: 8px;
    transition: all 0.3s ease-in-out;
  }

  .container__top__status {
    padding-left: 10px;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 800px) {
  .container__top__search {
    width: 310px;
    transition: all 0.3s ease-in-out;
    height: 50px;
  }
}

@media (max-width: 700px) {
  .container__top__search {
    transition: all 0.3s ease-in-out;
    width: 280px;
  }

  .search__input {
    transition: all 0.3s ease-in-out;
    width: 140px;
  }

}

@media (max-width: 670px) {
  .container__top__search {
    transition: all 0.3s ease-in-out;
    width: 250px;
  }
}

@media (max-width: 630px) {
  .top__button{
    transition: all 0.3s ease-in-out;
    padding-left: 4px;
  }

  .container__top__search {
    transition: all 0.3s ease-in-out;
    width: 200px;
  }

  .top__status__address {
    transition: all 0.3s ease-in-out;
    width: 86px;
    height: 24px;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    line-height: 24px;
  }

  .top__status__state {
    transition: all 0.3s ease-in-out;
    width: 53px;
    height: 14px;
  }

  .container__top__status {
    transition: all 0.3s ease-in-out;
    padding-left: 0px;
  }

}

@media (max-width: 550px) {
  .container__top__active {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 9px;
    gap: 10px;
    width: 50px;
    height: 30px;
    transition: all 0.3s ease-in-out;
  }

  .stateicon__setting {
    width: 13px;
    transition: all 0.3s ease-in-out;
    height: 13px;
  }

  .top__button {
    width: 18px;
    transition: all 0.3s ease-in-out;
    height: 18px;
  }
}

@media (max-width: 540px) {
  .container__top__search {
    height: 40px;
  }

  .search__input {
    width: 80px;
    font-size: 12px;
    background-position: 0px 10px;
    padding: 0px;
    background-image: none;
  }

  .main__left__container {
    display: none;
  }

  .main__right__container {
    width: 100%;
  }

  .right__container__detail {
    justify-content: space-between;
  }

  .container__detail__main {
    width: 96%;
  }

  .showdisplay {
    display: none;
  }

  .container__top__search__left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .hamburger__menu {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 10px;
  }

  .hamburger__menu > div {
    width: 100%;
    height: 3px;
    background: var(--main-text);
  }

  .backdrop {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
  }

  .backdrop.showmenu {
    display: none;
  }

  .sidedrawer {
    width: 70%;
    height: 100vh;
    display: flex;
    background-color: var(--bg-main);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
  }

  .sidedrawer.showmenu {
    transform: translateX(0);
  }
  
  .main__left__container__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }

  .left__container__logo__menu {
    height: 12%;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    align-items: center;
    justify-content: flex-start;
  }

  .container__logo__set__menu {
    width: 70px;
    height: 70px;
    padding-right: 30px;
  }

  .container__logo__text__menu {
    width: 180px;
    height: 70px; 
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-weight: 100;
    font-size: 40px;
    line-height: 48px;
    background: linear-gradient(91.24deg, #1DE99B 0.26%, #0063FB 99.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }


  .left__container__buttons__menu {
    width: 100%;
    display: block;
  }
}


@media (max-width: 470px) {
  .hamburger__menu {
    width: 20px;
    height: 20px;
    padding-left: 15px;
    padding-right: 5px;
  }

  .container__top__search {
    width: 150px;
  }

  .dropdownicon__setting {
    width: 15px;
    height: 10px;
  }

  .container__top__active {
    padding: 0px 6px;
    width: 40px;
    height: 20px;
  }

  .stateicon__setting {
    width: 9px;
    height: 9px;
  }

  .dropdown1icon__setting {
    width: 6px;
    height: 4px;
  }

  .top__status__address {
    width: 65px;
    height: 18px;
    font-size: 14px;
  }

  .top__status__state {
    width: 40px;
    height: 14px;
  }

  .container__top__profile {
    width: 35px;
    height: 35px;
    margin: 8px;
    margin-right: 20px;
  }
}

@media (max-width: 460px) {
  .container__logo__set__menu {
    width: 50px;
    height: 50px;
    padding-right: 25px;
  }

  .container__logo__text__menu {
    width: 150px;
    height: 50px; 
  }
}

@media (max-width: 360px) {
  .hamburger__menu {
    width: 15px;
    height: 15px;
    padding-left: 10px;
    padding-right: 3px;
  }

  .container__top__search {
    width: 120px;
    padding: 0px 5px;
  }

  .dropdownicon__setting {
    width: 15px;
    height: 10px;
  }

  .container__top__active {
    padding: 0px 4px;
    width: 30px;
    height: 20px;
    margin-right: 5px;
  }

  .stateicon__setting {
    width: 8px;
    height: 8px;
  }

  .dropdown1icon__setting {
    width: 4px;
    height: 2px;
  }

  .top__status__address {
    width: 55px;
    height: 16px;
    font-size: 13px;
  }

  .top__status__state {
    width: 30px;
    height: 13px;
  }

  .container__top__profile {
    width: 30px;
    height: 30px;
    margin: 6px;
    margin-right: 15px;
  }

  .container__logo__set__menu {
    width: 40px;
    height: 40px;
    padding-right: 15px;
  }

  .container__logo__text__menu {
    width: 120px;
    height: 40px;
  }

  .detail__main_one {
    margin: 10px;
  }
}

